@charset "utf-8";
body{
font-family: 'Verdana' 'Hiragino Sans','Meiryo',sans-serif;
}
header {
    background: url(../images/chouchinnannkou.PNG) no-repeat;
    background-size: 100%;
}
header h1 {
    text-align: center;
    padding: 280px 0 1640px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
}
header nav ul li {
    margin: 20px 40px;
}
header nav ul li a {
    font-size: 22px;
    font-weight: bold;
    color: #6083ba
}
main h2 {
    text-align: center;
    margin-bottom: 80px;
    padding-top: 120px
}
body {
    background-color: #306692;
}
main h3 {
    text-align: center;
    font-size: 60px;
    margin: 80px 0;
    color: #f4ffe5;
}
main .sakana {
    background-color: #cce6ff;
}
main ul li p {
font-size : 33px;
color: #f4ffe5;
margin-bottom: 590px;
line-height: 2;
}
main ul {
    text-align: center;
}
main ul {
    display: grid;
    grid-auto-flow: column;
    grid-area: item;
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type:mandatory;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.container {
    padding: 0 80px 0 80px;
}
.carousel{
    &::scroll-botton(*) {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    &::scroll-botton(left) {
        content:"" / "前へ";
        grid-area: left;
        justify-self: end;
    }
     &::scroll-botton(right) {
        content:"" / "次へ";
        grid-area: right;
    }
}
.item{
    &::scroll-marker {
        content:"";
        display: brock;
        width: 16px;
        height: 16px;
    }
    &::scroll-marker:target-current {
        background-color: blue;
    }
}
.info {
    height: 2125px;
    background: url(../images/nami.PNG) no-repeat;
    background-size: cover;
}
.info p {
    text-align: center;
    margin-top: 140px;
}
.info h2 {
    text-align: center;
    margin-bottom: 700px;
    padding-top: 220px;
}